body {
    font-family: 'Calibri', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}


.navbar-brand {
    color: #c21807 !important;
    font-weight: bold;
}

.nav-link {
    color: #333 !important;
}

h1 {
    margin-bottom: 20px;
}

h2 {
    color: #c21807;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

form div {
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.table thead th {
    cursor: pointer;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th {
    cursor: pointer;
}

.flash-messages {
    margin: 20px 0;
}

.flash {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.flash-success {
    background-color: #d4edda;
    color: #155724;
}

.flash-danger {
    background-color: #f8d7da;
    color: #721c24;
}

.alert {
    margin-bottom: 20px;
}


input#search {
    margin-bottom: 20px;
}